*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('bg.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#qr {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;    
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    border: black solid 2px;
    border-radius: 10px;
}
#qrcode {
    margin: 120px auto;
    max-width: 400px;
    height: 400px;
    width: 100%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
    box-shadow: 55px 10px 100px;
}
#myForm {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}
#myForm input {
    width: 60%;
    height: 30px;
    border: none ;
    border-bottom: solid rgb(0, 0, 0) 2px;
    border-radius: 5px;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
#myForm input:focus{
    outline: none;
    
} 
#myForm input:active{
    background: none;
}
#myForm button{
    padding: 5px 40px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(64, 15, 110);
    border: none;
    border-radius: 40px 10px;
    cursor: pointer;
}
